.theme-color {
    color: #1DD100;
}

.header {
    background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0) 100%);
    border-radius: 32px;
}

.selected-sit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 700;
}

.your-sit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}